@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Metal+Mania:regular");

@font-face {
	font-family: "Apura";
	src: url("../fonts/ApuraRegular.woff2") format("woff2"), url("../fonts/ApuraRegular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
/* --------------- */
* {
	font-size: 20px;
}
h2 {
	color: red;
}

.header {
	line-height: 250%;
}
.header-info {
}
.h1 {
	color: brown;
}
.content {
}
.ol {
}
.main {
}
.history {
	font-family: Apura;
}
.history-title {
}
.history-text {
}

.preparation {
	color: green;
}

.preparation-title {
	letter-spacing: 25px;
	color: blue;
}
h2 .preparation-title {
	color: red;
}
.preparation-title h2 {
	color: brown;
}
.preparation-text {
	text-indent: 100px;
}

.decoration {
}
.decoration-title {
}
.decoration-text {
	font-size: 30px;
	text-decoration: line-through;
	color: grey;
}
.decoration-img {
}
.culture {
}
.culture-title {
	font-size: 60px;
	font-weight: 900;
	word-spacing: 50px;
	text-transform: capitalize;
}
.culture-text {
	font-style: italic;
	white-space: nowrap;
}
.famous {
}
.famous-title {
	text-align: center;
}
.famous-link {
	text-align: right;
}

.text {
	color: green;
}
.block1 > p {
	color: blue;
}
.block2 {
	color: red;
}
.footer {
	color: purple;
	font-family: Metal Mania;
}
